<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <button>
        <a href="/users/<%= user._id %>/foods/new">add food</a>
    </button>
    <br>
  

    <ul>
      <% if(pantries){ %>
        <% pantries.forEach(pantry => { %>
            <li>
              <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=DELETE" method="POST">
                <%= pantry.name %>
                <button type="submit">delete</button>
              </form>
              <button>
                <a href="/users/<%= user._id %>/foods/<%= pantry._id %>/edit">edit</a>
            </button>
            </li>
            <br>
            <% }) %>
          <% } else{ %>
            <p>There are no items in this pantry</p>
             <% } %>
    </ul>
   

  </body>
</html>